# Ignore Python cache
__pycache__/
*.pyc
*.pyo 

# Ignore virtual environments
env/
venv/
.env

# Ignore database files
# *.sqlite3

# Ignore compiled files
*.log

# Ignore IDE files (optional)
.vscode/
.idea/